@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<article>
    <h2>
    <p style="text-align:center">
    
       Welcome to LIVE UPDATE
    </p>
    </h2>

    
</article>

